<div class="main-content">
    <div class="emp-detail-text">
        Employee Details
        <div class="emp-count">{{empCount}}</div>
        <div class="button-text">
            <a class="add-button" routerLink="/add"> <img src="../assets/icons/add-24px.svg" alt="Icon">Add User</a>
        </div>
    </div>
    <div class="table-main">
        <table class="table" id="display">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Start Date</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor= "let employee of employeeList">
                <td><img class="profile" src="{{employee.profilePic}}" alt=""></td>
                <td>{{employee.name}}</td>
                <td>{{employee.gender}}</td>
                <td><div class="dept-label" *ngFor = "let department of employee.department">{{department}}</div></td>
                <td>{{employee.salary | currency: 'INR'}}</td>
                <td>{{employee.startDate | date}}</td>
                <td>
                    <img id={{employee.employeeId}} (click)="remove(employee.employeeId)" src="../assets/icons/delete-black-18dp.svg" alt="delete">
                    <img id={{employee.employeeId}} (click)="update(employee.employeeId, employee)" src="../assets/icons/create-black-18dp.svg" alt="update">
                </td>
            </tr>
        </table>
    </div>
</div>

