<div class="main-content">
    <div class="emp-detail-text">
        Employee Details
        <div class="emp-count">{{empCount}}</div>
        <div class="button-text">
            <a class="add-button" routerLink="/add"> <img src="../assets/icons/add-24px.svg" alt="Icon">Add User</a>
        </div>
    </div>
    <div class="table-main">
        <table class="table" id="display">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Start Date</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>
                    <img class="profile" src="../../assets/profile-images/Ellipse -1.png" alt="">
                </td>
                <td>Meban</td>
                <td>Male</td>
                <td>HR</td>
                <td>20000</td>
                <td>23-03-2021</td>
                <td>
                    <img id="" onclick="remove(this)" src="../assets/icons/delete-black-18dp.svg" alt="delete">
                    <img id="" onclick="update(this)" src="../assets/icons/create-black-18dp.svg" alt="edit">
                </td>
            </tr>
        </table>
    </div>
</div>

